<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">ID Agent</th>
            <th scope="col">Prénom</th>
            <th scope="col">Nom</th>
            <th scope="col">Status</th>
            <th scope="col">Cap</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let agent of agents">
            <th>{{ agent.id_agent }}</th>
            <th>{{ agent.firstname }}</th>
            <td>{{ agent.lastname }}</td>
            <td>{{ agent.status }}</td>
            <td>{{ agent.cap }}</td>
        </tr>
    </tbody>
</table>
